@charset "UTF-8";
/* ----- FONTS START ----- */
@font-face {
  font-family: "TTHoves";
  src: local("TTHoves Light"), local("TTHoves-Light"), url("../fonts/TTHoves-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTHoves";
  src: local("TTHoves Regular"), local("TTHoves-Regular"), url("../fonts/TTHoves-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTHoves";
  src: local("TTHoves Medium"), local("TTHoves-Medium"), url("../fonts/TTHoves-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTHoves";
  src: local("TTHoves Bold"), local("TTHoves-Bold"), url("../fonts/TTHoves-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplay";
  src: local("SFProDisplay Black"), local("SFProDisplay-Black"), url("../fonts/SFProDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans Semibold"), local("OpenSans-Semibold"), url("../fonts/OpenSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GothicA1";
  src: local("GothicA1 Regular"), local("GothicA1-Regular"), url("../fonts/GothicA1-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?c9gpfj");
  src: url("../fonts/icomoon.eot?c9gpfj#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?c9gpfj") format("truetype"), url("../fonts/icomoon.woff?c9gpfj") format("woff"), url("../fonts/icomoon.svg?c9gpfj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* ----- FONTS END ----- */
/* ----- CSS RESET START ----- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----- CSS RESET END ----- */
/* ----- COMMON STYLES START ----- */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
span,
::before,
::after {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  background: none;
  border: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
}

input {
  font: inherit;
  border: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "TTHoves", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  background-color: white;
  color: #333333;
}

a {
  color: #333333;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section-title {
  color: #bdbdbd;
  font-weight: 300;
  font-size: 64px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.arrow {
  fill: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-left: -10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}
.menu__link {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 4px 0;
}
.menu__link:hover {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.btn {
  width: 222px;
  height: 71px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: white;
}
.btn:hover, .btn:focus-within {
  background-color: #333333;
  color: white;
}
.btn:hover .arrow, .btn:focus-within .arrow {
  fill: white;
}
.btn .arrow {
  margin-left: 15px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.form:focus-within > .form__label::after {
  content: "";
}
.form__label.required::after {
  content: "*";
  position: absolute;
  top: 16px;
  left: 130px;
  color: #c30000;
  z-index: 15;
}
.form__label-checkbox {
  position: relative;
  padding-left: 40px;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.25;
  margin: 12px 0;
}
.form__input {
  padding: 15px 21px;
  background-color: #f3f3f3;
  width: 391px;
  border: 0;
  resize: none;
  font-size: 14px;
}
.form ::-webkit-input-placeholder {
  color: #8d8d8d;
}
.form :-moz-placeholder {
  color: #8d8d8d;
}
.form ::-moz-placeholder {
  color: #8d8d8d;
}
.form :-ms-input-placeholder {
  color: #8d8d8d;
}
.form__checkbox {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__checkbox:focus-within + .form__check {
  outline: 2px solid #000;
}
.form__checkbox:checked + .form__check {
  background-image: url(../img/check.svg);
}
.form__check {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #f3f3f3;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.form__btn {
  background-color: #333333;
  color: white;
  border: 1px solid #333333;
}
.form__btn:hover, .form__btn:focus-within {
  background-color: white;
  color: #333333;
}
.form__btn:hover .arrow, .form__btn:focus-within .arrow {
  fill: #333333;
}
.form__btn .arrow {
  fill: white;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-telephone:before {
  content: "";
}

.icon-geo:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-arrow:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-facebook:before {
  content: "";
  color: #fff;
}

.icon-linkedin:before {
  content: "";
  color: #fff;
}

.icon-phone:before {
  content: "";
  color: #fff;
}

.icon-pinterest:before {
  content: "";
  color: #fff;
}

.icon-twitter:before {
  content: "";
  color: #fff;
}

/* ----- COMMON STYLES END ----- */
/* ----- HEADER START ----- */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__menu {
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  margin-right: 123px;
  margin-left: auto;
  letter-spacing: 0.2em;
}
.header__burger-btn {
  display: none;
}

/* ----- HEADER END ----- */
/* ----- HERO START ----- */
.hero {
  padding-bottom: 60px;
}

.hero-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero-slider__slide-title {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 333px;
}
.hero-slider__slide-title span {
  color: #bdbdbd;
  font-weight: 300;
}
.hero-slider__slide-figure {
  position: relative;
}
.hero-slider__slide-btn {
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: 10;
  -webkit-box-shadow: -2px 2px 0 #fff;
          box-shadow: -2px 2px 0 #fff;
}
.hero-slider__btn {
  width: 53px;
  height: 53px;
  border: 1px solid #f2f2f2;
  top: initial;
  bottom: 270px;
}
.hero-slider__btn_prev {
  left: 0;
}
.hero-slider__btn_prev .arrow {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.hero-slider__btn_next {
  left: 76px;
}
.hero-slider__btn_next::after {
  width: 271px;
  height: 1px;
  background-color: #f2f2f2;
  position: absolute;
  right: -271px;
  top: 50%;
  z-index: 10;
}
.hero-slider__btn:hover, .hero-slider__btn:focus-within {
  background-color: #f9f9f9;
}
.hero-slider__btn::after {
  content: "";
}
.hero-slider .swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -145px;
  width: 160px;
  text-align: left;
  margin-left: -10px;
}
.hero-slider .swiper-pagination-bullets::before {
  content: "";
  width: 44px;
  height: 2px;
  background-color: #e0e0e0;
  -webkit-transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
          transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
  position: absolute;
  left: 55px;
  top: 50%;
  z-index: 10;
}
.hero-slider .swiper-pagination-bullets .swiper-pagination-bullet {
  border-radius: 0;
  padding: 10px;
  width: auto;
  height: auto;
  font-size: 24px;
  color: #bdbdbd;
  opacity: 1;
  margin: 0;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hero-slider .swiper-pagination-bullets .swiper-pagination-bullet-active {
  color: #333333;
}

/* ----- HERO END ----- */
/* ----- ABOUT START ----- */
.about {
  padding-top: 60px;
  padding-bottom: 90px;
}
.about__wrap {
  padding: 30px 70px 30px 100px;
  background-color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__pic-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 570px;
  gap: 30px;
  margin-bottom: -60px;
}
.about__img:nth-child(2) {
  margin-top: 30px;
}
.about__img:nth-child(3) {
  margin-top: -110px;
}
.about__offer {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.about__offer-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.55;
}

/* ----- ABOUT END ----- */
/* ----- MAIN TASKS START ----- */
.main-tasks {
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-tasks__title {
  margin-bottom: 60px;
}
.main-tasks__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-tasks__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.main-tasks__task:first-child {
  max-width: 413px;
}
.main-tasks__task:nth-child(2) {
  max-width: 577px;
}
.main-tasks__task-number {
  font-family: "SFProDisplay", sans-serif;
  font-size: 200px;
  font-weight: 900;
  line-height: 0.75;
  color: #f2f2f2;
}
.main-tasks__task-description {
  font-size: 22px;
  line-height: 1.64;
}

/* ----- MAIN TASKS END ----- */
/* ----- OUR PROJECTS START ----- */
.our-projects {
  padding-top: 60px;
  padding-bottom: 60px;
}
.our-projects__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}
.our-projects__title {
  margin-bottom: 30px;
}
.our-projects__btn {
  background-color: #333333;
  color: white;
  border: 1px solid #333333;
  margin-left: auto;
}
.our-projects__btn:hover, .our-projects__btn:focus-within {
  background-color: white;
  color: #333333;
}
.our-projects__btn:hover .arrow, .our-projects__btn:focus-within .arrow {
  fill: #333333;
}
.our-projects__btn .arrow {
  fill: white;
}

.project-card {
  width: 570px;
  height: 255px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-transform: uppercase;
}
.project-card__title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 48px;
  left: 79px;
  z-index: 15;
}
.project-card__btn {
  color: #fff;
  letter-spacing: 0.2em;
  position: absolute;
  left: 69px;
  bottom: 43px;
  z-index: 15;
  opacity: 0;
}
.project-card__btn .arrow {
  fill: #fff;
  margin-left: 15px;
}
.project-card::after {
  content: "";
  width: 100%;
  height: 255px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333333;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.project-card:hover .project-card__title, .project-card:focus-within .project-card__title, .project-card:hover .project-card__btn, .project-card:focus-within .project-card__btn {
  opacity: 1;
}
.project-card:hover.project-card::after, .project-card:focus-within.project-card::after {
  opacity: 0.8;
}
.project-card:first-child {
  background-image: url(../img/project1.webp);
}
.project-card:nth-child(2) {
  background-image: url(../img/project2.webp);
}
.project-card:nth-child(3) {
  background-image: url(../img/project3.webp);
  width: 270px;
}
.project-card:nth-child(3) .project-card__title {
  left: 16px;
}
.project-card:nth-child(3) .project-card__btn {
  left: 10px;
}
.project-card:nth-child(4) {
  background-image: url(../img/project4.webp);
  width: 470px;
}
.project-card:nth-child(4) .project-card__title {
  left: 53px;
}
.project-card:nth-child(4) .project-card__btn {
  left: 43px;
}
.project-card:nth-child(5) {
  background-image: url(../img/project5.webp);
  width: 370px;
}
.project-card:nth-child(5) .project-card__title {
  left: 53px;
}
.project-card:nth-child(5) .project-card__btn {
  left: 43px;
}

/* ----- OUR PROJECTS END ----- */
/* ----- CONTACT US START ----- */
.contact-us {
  padding-top: 60px;
  padding-bottom: 120px;
}
.contact-us__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact-us__title {
  margin-bottom: 22px;
}
.contact-us__form-checkbox {
  width: 391px;
}
.contact-us__form-label {
  position: relative;
}
.contact-us__form-label:nth-of-type(2)::after {
  left: 129px;
}
.contact-us__form-label:nth-of-type(3)::after {
  left: 61px;
}
.contact-us__form-label:nth-last-of-type(2)::after {
  left: 90px;
}
.contact-us__form-label:nth-last-of-type(2) .form__input {
  height: 147px;
}

/* ----- CONTACT US END ----- */
/* ----- FOOTER START ----- */
.footer {
  padding-top: 60px;
  padding-bottom: 24px;
  background-color: #2c2c2c;
  color: #fff;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}
.footer .logo {
  margin-top: -10px;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  -webkit-column-gap: 150px;
     -moz-column-gap: 150px;
          column-gap: 150px;
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 25px;
}
.footer__menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: none;
  row-gap: 16px;
}
.footer__menu-link {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  padding: 0;
}
.footer__menu-link:hover {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.footer__contacts {
  max-width: 275px;
  margin-left: auto;
}
.footer__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 22px;
  margin-left: -10px;
}
.footer__contacts-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__contacts-link:hover {
  text-decoration: underline;
}
.footer__contacts-link i {
  margin-right: 15px;
  font-size: 16px;
}
.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.footer__socials-link {
  color: #fff;
  font-size: 19px;
}
.footer__socials-link:hover, .footer__socials-link:focus-within {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.footer__bottom {
  padding-top: 24px;
  border-top: 1px solid #ffffff1a;
}

.copyright {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.8;
  color: #c7c7c780;
}

/* ----- FOOTER END ----- */
/* ----- ADAPTIVE START ----- */
@media (max-width: 1399.98px) {
  .container {
    max-width: 1170px;
  }

  .about__wrap {
    padding-right: 55px;
    padding-left: 85px;
  }

  .our-projects__wrap {
    row-gap: 15px;
  }

  .project-card {
    width: 562px;
  }
  .project-card__title {
    left: 67px;
  }
  .project-card__btn {
    left: 59px;
  }

  .contact-us__img {
    width: 719px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 990px;
  }

  .section-title {
    font-size: 54px;
  }

  .header__menu {
    margin-right: 0;
  }

  .hero-slider__slide-title {
    padding-top: 200px;
  }
  .hero-slider__slide-img {
    width: 600px;
    height: 646px;
  }
  .hero-slider__btn_next::after {
    width: 218px;
    right: -218px;
  }
  .hero-slider .swiper-pagination-bullets {
    margin-left: -5px;
  }

  .about {
    padding-bottom: 60px;
  }
  .about__wrap {
    padding-left: 50px;
    padding-right: 30px;
  }
  .about__pic-block {
    gap: 15px;
    width: 475px;
  }
  .about__img:nth-child(1) {
    width: 230px;
    height: 226px;
  }
  .about__img:nth-child(2) {
    width: 230px;
    height: 294px;
  }
  .about__img:nth-child(3) {
    width: 230px;
    height: 119px;
    margin-top: -135px;
  }
  .about__offer {
    max-width: 355px;
    row-gap: 15px;
  }

  .main-tasks__title {
    margin-bottom: 30px;
  }
  .main-tasks__task {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .main-tasks__task-number {
    font-size: 175px;
  }
  .main-tasks__task-description {
    line-height: 1.4;
  }
  .main-tasks__task:first-child {
    max-width: 345px;
  }
  .main-tasks__task:nth-child(2) {
    max-width: 546px;
  }

  .our-projects__title {
    margin-bottom: 15px;
  }

  .project-card {
    width: 465px;
  }
  .project-card__title {
    font-size: 54px;
  }
  .project-card:nth-child(3) {
    width: 240px;
  }
  .project-card:nth-child(4) {
    width: 370px;
  }
  .project-card:nth-child(4) .project-card__title {
    left: 37px;
  }
  .project-card:nth-child(4) .project-card__btn {
    left: 30px;
  }
  .project-card:nth-child(5) {
    width: 304px;
  }
  .project-card:nth-child(5) .project-card__title {
    left: 50px;
  }

  .contact-us__img {
    width: 527px;
  }

  .footer__info {
    -webkit-column-gap: 85px;
       -moz-column-gap: 85px;
            column-gap: 85px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .header__menu {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }

  .hero-slider__slide-title {
    font-size: 48px;
  }
  .hero-slider__slide-img {
    width: 480px;
    -o-object-position: 0;
       object-position: 0;
  }
  .hero-slider__btn_next::after {
    width: 112px;
    right: -112px;
  }
  .hero-slider .swiper-pagination-bullets {
    width: 140px;
  }
  .hero-slider .swiper-pagination-bullets::before {
    left: 45px;
  }
  .hero-slider .swiper-pagination-bullets .swiper-pagination-bullet {
    font-size: 20px;
  }

  .about__wrap {
    padding-left: 40px;
    padding-right: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__pic-block {
    margin: 0;
  }
  .about__img:nth-child(1) {
    width: 163px;
    height: 160px;
  }
  .about__img:nth-child(2) {
    width: 162px;
    height: 208px;
    margin-top: 24px;
  }
  .about__img:nth-child(3) {
    width: 163px;
    height: 84px;
    margin-top: -72px;
  }
  .about__offer {
    max-width: 300px;
  }

  .main-tasks__task-number {
    font-size: 150px;
  }
  .main-tasks__task-description {
    font-size: 18px;
  }
  .main-tasks__task:first-child {
    max-width: 290px;
  }
  .main-tasks__task:nth-child(2) {
    max-width: 385px;
  }

  .project-card__title {
    opacity: 1;
  }
  .project-card__btn {
    opacity: 1;
  }
  .project-card::after {
    opacity: 0.8;
  }
  .project-card:nth-child(1) {
    width: 100%;
  }
  .project-card:nth-child(4) {
    width: 400px;
  }

  .contact-us__img {
    width: 300px;
  }

  .footer__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }
  .footer .logo {
    margin: 0;
  }
  .footer__info {
    margin-left: 0;
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
  .footer__socials-list {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .footer__contacts-list {
    width: 284px;
    row-gap: 0;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 570px;
  }

  .btn {
    width: 180px;
    height: 60px;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: white;
  }
  .header__nav {
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__menu {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .header__menu-link {
    padding: 10px 0;
  }

  .burger-menu {
    position: fixed;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 96px;
    left: 0;
    padding-top: 20px;
    z-index: 20;
    text-align: center;
    font-size: 22px;
    row-gap: 20px;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  .burger-menu.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .burger-menu.transition {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .burger-menu__btn {
    display: block;
    font-size: 22px;
    position: relative;
    width: 24px;
    height: 24px;
    padding: 0;
  }
  .burger-menu__btn .icon {
    position: absolute;
    top: 2px;
    right: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .burger-menu__btn .icon-close {
    visibility: hidden;
    opacity: 0;
  }
  .burger-menu__btn.open .icon-menu {
    visibility: hidden;
    opacity: 0;
    font-size: 0;
  }
  .burger-menu__btn.open .icon-close {
    visibility: visible;
    opacity: 1;
  }

  .hero {
    padding-bottom: 45px;
  }
  .hero-slider__slide-title {
    padding-top: 140px;
    font-size: 44px;
  }
  .hero-slider__slide-img {
    width: 315px;
    height: 585px;
  }
  .hero-slider__btn {
    bottom: 245px;
  }
  .hero-slider__btn_next::after {
    width: 97px;
    right: -97px;
  }

  .about {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .about__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .about__pic-block {
    margin-top: -60px;
  }
  .about__offer {
    max-width: 400px;
  }
  .about__img:nth-child(1) {
    width: 230px;
    height: 226px;
  }
  .about__img:nth-child(2) {
    width: 230px;
    height: 294px;
    margin-top: 32px;
  }
  .about__img:nth-child(3) {
    width: 230px;
    height: 119px;
    margin-top: -100px;
  }

  .main-tasks {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .main-tasks__group {
    row-gap: 20px;
  }
  .main-tasks__task:first-child {
    max-width: 100%;
    -webkit-column-gap: 34px;
       -moz-column-gap: 34px;
            column-gap: 34px;
  }
  .main-tasks__task:nth-child(2) {
    max-width: 100%;
  }

  .our-projects {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .our-projects__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .project-card {
    width: 100%;
  }
  .project-card:nth-child(3), .project-card:nth-child(4), .project-card:nth-child(5) {
    width: 100%;
  }
  .project-card:nth-child(3) .project-card__title, .project-card:nth-child(4) .project-card__title, .project-card:nth-child(5) .project-card__title {
    left: 67px;
  }
  .project-card:nth-child(3) .project-card__btn, .project-card:nth-child(4) .project-card__btn, .project-card:nth-child(5) .project-card__btn {
    left: 59px;
  }

  .contact-us {
    padding-top: 45px;
    padding-bottom: 90px;
  }
  .contact-us__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
  }
  .contact-us__img {
    width: 100%;
  }

  .footer__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }

  .section-title {
    font-size: 40px;
  }

  .hero-slider__slide-title {
    position: absolute;
    font-size: 40px;
    z-index: 20;
    width: 200px;
    padding-top: 50px;
    padding-left: 20px;
  }
  .hero-slider__slide-title span {
    color: #fff;
  }
  .hero-slider__slide-img {
    width: 100%;
  }
  .hero-slider__btn {
    display: none;
  }
  .hero-slider__btn_next::after {
    width: 0;
    height: 0;
  }
  .hero-slider .swiper-pagination-bullets {
    top: -110px;
    left: 10px;
  }
  .hero-slider .swiper-pagination-bullets::before {
    background-color: #fff;
  }
  .hero-slider .swiper-pagination-bullets .swiper-pagination-bullet {
    color: #333333;
  }
  .hero-slider .swiper-pagination-bullets .swiper-pagination-bullet-active {
    color: #fff;
  }

  .burger-menu {
    font-size: 16px;
  }

  .about__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about__pic-block {
    width: 290px;
    gap: 10px;
  }
  .about__img:nth-child(1) {
    width: 140px;
    height: 137px;
  }
  .about__img:nth-child(2) {
    width: 140px;
    height: 180px;
    margin-top: 18px;
  }
  .about__img:nth-child(3) {
    width: 140px;
    height: 72px;
    margin-top: -61px;
  }

  .our-projects__btn {
    margin: 0 auto;
  }

  .project-card__title {
    font-size: 36px;
    text-align: center;
  }
  .project-card__btn {
    left: calc(50% - 74px);
  }
  .project-card:nth-child(1) .project-card__title {
    left: calc(50% - 165px);
  }
  .project-card:nth-child(2) .project-card__title {
    left: calc(50% - 55px);
  }
  .project-card:nth-child(3) .project-card__title {
    left: calc(50% - 67px);
  }
  .project-card:nth-child(3) .project-card__btn {
    left: calc(50% - 74px);
  }
  .project-card:nth-child(4) .project-card__title {
    left: calc(50% - 175px);
  }
  .project-card:nth-child(4) .project-card__btn {
    left: calc(50% - 74px);
  }
  .project-card:nth-child(5) .project-card__title {
    left: calc(50% - 60px);
  }
  .project-card:nth-child(5) .project-card__btn {
    left: calc(50% - 74px);
  }

  .form {
    width: 100%;
  }
  .form__check {
    top: -5px;
  }
  .form__label-checkbox {
    width: 100%;
  }
  .form__input {
    width: 100%;
  }
  .form__btn {
    margin: 0 auto;
  }

  .footer__title {
    margin-bottom: 15px;
  }
  .footer__contacts {
    margin-left: 0;
  }
}
/* ----- ADAPTIVE END ----- */