//VARIABLES
$bg_color: hsl(0, 0%, 100%);
$bg_color_semi_trans: hsla(0, 0%, 100%, 0.7);
$btn_color: hsl(0, 0%, 20%);
$btn_color_light: hsl(0, 0%, 100%);
$btn_text_color: hsl(0, 0%, 100%);
$text_color: hsl(0, 0%, 20%);
$text_color_light: hsl(0, 0%, 74%);
$tr_time: 0.3s;